.userWrapper {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.user {
	display: flex;
	height: 3.75em;
}

.wrapperAvatar {
	cursor: pointer;
}

.blockNameStatus {
	margin-left: 1.25em;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 100%;
}

.status {
	font-size: 0.8em;
	color: grey;
	margin-top: 0.6em;
}

@media screen and (max-width: 760px) {
	.userWrapper {
		height: 60px;
	}
}