.header {
	margin: 10px auto 0;
	max-width: 1200px;
	display: flex;
	justify-content: space-between;
}
.iconTitleWrapper {
	display: flex;
	align-items: center;
	cursor: default;
}

.icon{
	background-color: rgb(68, 68, 242);
	border-radius: 10px;
	padding: 6px;
}
.icon span {
	font-family: 'Pacifico', cursive;
	color: beige;
	font-size: large;
}
.title {
	margin-left: 12px;
	letter-spacing: 5px;
	font-size: 1.4em;
	font-weight: 900;
}

.avatarWrapper {
	position: relative;
	width: 56px;
	height: 56px;
	display: flex;
	align-items: center;
	justify-content: center;
	display: inline-block;
}



@media screen and (max-width: 1280px){
	.header {
			margin-left: 40px;
			margin-right: 40px;
		}
}