.header {
	margin: 0.625em auto 0;
	max-width: 1200px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.iconTitleWrapper {
	display: flex;
	align-items: center;
	cursor: default;
}

.icon{
	background-color: rgb(68, 68, 242);
	border-radius: 625em;
	padding: 0.375em;
}
.icon span {
	font-family: 'Pacifico', cursive;
	color: beige;
	font-size: large;
}
.title {
	margin-left: 0.75em;
	letter-spacing: 0.25em;
	font-size: 1.4em;
	font-weight: 900;
}

.buttonAvatar {
	padding: 0;
	button {
		padding: 0;
	}
}
.avatarWrapper {
	position: relative;
	width: 4em;
	height: 4em;
	display: flex;
	align-items: center;
	justify-content: center;
	display: inline-block;
	img {
		width: 100%;
		height: 100%;
		border-radius: 50%;
	}
}

/* burger menu */
.burgerMenuIcon {

}
.menu {
	position: fixed;
	top: 0;
	left: -300px;
	bottom: 0;
	width: 260px;
	background-color: #343a40;
	transition: left 0.3s ease;
	z-index: 1000;
}

.openedMenu {
	left: 0;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	/* затемнение */
	z-index: 1;
	/* чтобы было поверх меню */
}



@media screen and (max-width: 1280px){
	.header {
			margin-left: 2.5em;
			margin-right: 2.5em;
		}
}

@media screen and (max-width: 760px) {
	.burgerMenu {
		display: block;
	}
}
@media screen and (max-width: 500px) {
	.header {
		margin-left: 1em;
		margin-right: 1em;
	}
}