.wrapper {
	background-color: white;
	border-radius: 0.25em;
	padding: 1.25em;
}
.formLabel {
	margin-bottom: 1em;
}
.link {
	text-decoration: none;
	color: rgb(51, 51, 252);
}

div {
	.inputContainer {
		margin-bottom: 1em;
	}

}