.login {
	background-image: url("../../../common/assets/loginMainImage.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding: 2.5em;
	display: flex;
	justify-content: space-around;
	height: 80vh;


	.textAnimation {
		font-size: 3em;
		font-weight: 900;
		background: linear-gradient(-45deg, #c7ff0f, #ff9901);
		background-size: 400% 400%;
		background-clip: text;
		color: transparent;
		animation: gradient 10s ease infinite;
		text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.288);
	}
}

@keyframes gradient {
	0% {
		transform: translate3d(0, 0, 3);
	}

	50% {
		background-position: 100% 0%;
	}

	100% {
		background-position: 0% 50%;
	}
}

.formWrapper {
	margin-left: 20px;
	width: 30rem;
	form {
		border-radius: 0.25em;
		padding: 1.25em;
		background-color: white;
		box-shadow: 4px 4px 10px black;
	}
	.formLabel {
		margin-bottom: 1em;
		font-size: 1em;
	}
	.link {
		text-decoration: none;
		color: rgb(51, 51, 252);
	}
}

div {
	.inputContainer {
		margin-bottom: 1em;
	}
}


.leftBlock {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	color: white;
}


.wrapScrollingText {
	line-height: 1.5;
	font-size: 3rem;
	font-weight: 700;
	position: relative;
}

.scrollingText {
	height: 4rem;
	overflow: hidden;
}

.scrollingText p {
	display: inline-block;
	padding: 0 1.2rem;
}

.scrollingText div:first-child {
	animation: scroll-vertical 6s ease infinite;
}

.text span {
	color: blue;
	cursor: pointer;
}

@keyframes scroll-vertical {
	0% { margin-top: 4.5rem;}
	5% { margin-top: 0;}
	32% {	margin-top: 0;}
	37% {	margin-top: -4.5rem;}
	65% {	margin-top: -4.5rem;}
	70% {	margin-top: -9rem;}
	99.99% { margin-top: -9rem;}
	100% { margin-top: 4.5rem;}
}


@media screen and (max-width: 1000px) {
	.text {
		font-size: 90%;
	}
}

@media screen and (max-width: 680px) {
	.login {
		justify-content: flex-start;
		flex-direction: column;
		align-items: center;
		.textAnimation {
			margin-bottom: 2rem;
		}
	}
	.wrapScrollingText {
		margin-bottom: 5rem;
	}
	.formWrapper {
		width: 100%;
		margin-left: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}
