.wrapper {
	background-color: white;
	border-radius: 5px;
	padding: 20px;
}
.formLabel {
	margin-bottom: 15px;
}
.link {
	text-decoration: none;
	color: rgb(51, 51, 252);
}

div {
	.inputContainer {
		/* color: #C8C8C8; */
		margin-bottom: 15px;
	}

}