.profile {
	width: 100%;
	position: relative;
	max-width: 1030px;
	margin: 0 auto;
	
}
.topBlock {
	background-image: url("../../../common/assets/imageCover.jpg");
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	height: 18.125em;
	box-sizing: border-box;
	padding-top: 6.25em;

	.paddingLeft {
		padding-left: 13.75em;
	}
	.person {
		display: flex;
		flex-direction: column;
		.nameAndStatus {
			color: white;
			margin-bottom: 1em;
			.fullName {
				font-size: 1.5em;
				margin-bottom: 0.7em;
			}
		}
		.contacts {
			background-color: rgba(0, 0, 0, 0.667);
			min-height: 5em;
			width: 100%;
			display: flex;
			box-sizing: border-box;
		}
	}
}

.buttonEdit {
	position: absolute;
	
	border-radius: 50%;
	border: none;
	background-color: rgb(97, 100, 244);
	cursor: pointer;
	transition: background-color 0.5s;
	&:hover {
		background-color: rgb(54, 54, 246);
	}
	
	
}
.buttonEditProfile {
	top: 1em;
	right: 1em;
}
.buttonEditPhoto {
	top: 0.25em;
	right: 0.25em;
	opacity: 0;
	transition: opacity 0.5s;
}
.blockWidthPhoto {
	position: relative;
	.userPhotoWrapper {
		position: absolute;
		top: -9em;
		left: 1em;
		width: 11em;
		height: 11em;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		display: inline-block;
		&:hover {
			.buttonEditPhoto {
				opacity: 1;
			}
			label {
				opacity: 1;
				background-color: rgb(97, 100, 244);
			}
		}
		.imgAvatar {
			width: 11em;
			height: 11em;
			object-fit:cover;
			border-radius: 50%;
			position: relative;
			box-shadow: 0px 0px 0 10px white;
		}

	}
}

.downBlock {
	background-color: white;
	padding: 2.5em 1em 1em 1em;
	color: black;
	.aboutMeImages {
			width:5.5em;
			height: 5.5em;
	}
	.title {
		display: flex;
		align-items: center;
	}
	.aboutUser {
		display: flex;
		line-height: 1em;
		font-size: 1.3em;
		align-items: center;
		.aboutJob {
			display: flex;
			flex-direction: column;
			img {
				height: 1.7em;
				width: 1.7em;
			}
		}
		&:first-child {
			border-bottom: 1px solid black;
		}
	}
	.aboutUserText {
		font-size: 0.7em;
	}
}

@media screen and (max-width: 860px) {
	.blockWidthPhoto {
		.userPhotoWrapper {
			.imgAvatar  {
				width: 15em;
				height: 15em;
			}
		}
	}
	.topBlock {
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
		height: 100%;
		padding-top: 2em;
		.paddingLeft {
				padding-left: 0;
			}
		.person {
			width: 100%;
			.contacts {
				margin-bottom: 0;
				background-color: rgb(21, 21, 21);
			}
		}
	}
	.blockWidthPhoto {
		position: relative;
		.userPhotoWrapper {
			position: static;
		}
	}	
	.fullName {
		text-align: center;
		margin-top: 20px;
	}
}
@media screen and (max-width: 760px) {
	.topBlock {
		border-radius: 0;
	}
}