.wrapper {
	width: 100%;
	cursor: default;
}
.wrapper div:last-child {
	margin-bottom: 0;
}
.profileWrapper {
	display: flex;
	
}
.userPhotoWrapper {
	position: relative;
	width: 220px;
	height: 220px;
	display: flex;
	align-items: center;
	justify-content: center;
	display: inline-block;
}

.userPhotoWrapper:hover{
	label {
		background-color: rgba(0, 0, 0, 0.072);
		opacity: 1;
	}
	label:hover {
		background-color: rgba(4, 0, 255, 0.257);
	}
}
.img {
	width: 220px;
	height: 220px;
	object-fit:cover;
	border-radius: 50%;
	position: relative;
}


.loader{
	position: absolute;
	border: 3px solid red;
}



.person {
	display: flex;
	flex-direction: column;
	margin-left: 20px;
}
.fullName {
	font-size: 1.5em;
	margin-bottom: 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.aboutUser {
	margin-top: 10px;
	margin-bottom: 10px;
	line-height: 1em;
	font-size: 1.3em;
}
.aboutUserText{
	font-size: 0.7em;
}
.contacts {
	font-size: 1.2em;
	margin: 10px 0 10px;
}
.link {
	color:blue;
	text-decoration: none;
}
.link:hover {
	color:blueviolet;
}