.wrapper {
	display: grid;
	grid-template-columns: 1fr 3fr;
	width: 100%;
}

.chatWrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
}
.link {
	text-decoration: none;
	margin-bottom: 20px;
	color: black;
}
.link:last-child {
	margin-bottom: 0;
}
.link:hover{
	color: blue;
}
.chatTitle {
	margin: 10px 0 20px 0;
	border-bottom: 1px solid rgb(183, 182, 182);
	padding-bottom: 10px;

}
.message {
	margin-top: 15px;
}
.blockWithInput {
}
.input {
	width: 100%;
	box-sizing: border-box;
	margin-top: 15px;
}
.chatWithoutUser {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	position: relative;
	font-size: 17px;
	font-weight: 900;
}
.iconWithoutUser {
	position: absolute;
	width: 100%;
	height: 100%;
	fill: rgba(4, 0, 255, 0.309);
}