.footer {
	height: 4em;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	a {
		color: black;
		text-decoration: none;
		transition: color 0.5s;
	}
	a:hover {
		color: rgb(2, 2, 90);
	}
	span {
		color: black;
	}
}