.wrapper {
	height: 31em;
	display: grid;
	grid-template-columns: 12.5em auto;
	gap: 1.5em;
}
.dialogs {
	height: 31em;
	background-color: #1f2225;
	border-radius: 0.25em;
	box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.5);
}
.title {
	display: flex;
	align-items: center;
	height: 3em;
	border-bottom: 1px solid #C8C8C8;
	padding: 0.6em;
	box-sizing: border-box;
}
.dialogsList {
	max-height:calc(100% - 3.25em);
	overflow-y: auto;
	overflow-x: hidden;
	
}
.dialog {
	display: flex;
	align-items: center;
	position: relative;
	padding: 0.6em;
	height: 3.1em;
	border-radius: 0.6em;
	.userName {
		margin-left: 0.6em;
		font-size: 1.25em;
	}
	.newMessages {
		position: absolute;
		top: 4px;
		right: 4px;
				span {
						display: flex;
						position: absolute;
						top: 0;
						right: 0;
						align-items: center;
						font-size: 8px;
						background-color: red;
						color: white;
						width: 10px;
						height: 10px;
						box-sizing: border-box;
						border-radius: 50%;
						padding: 3px;
						z-index: 2;
					}
				
					img {
						width: 20px;
						height: 20px;
						position: absolute;
						top: 0;
						right: 0;
						z-index: 1;
					}
	}

	&:hover {
		cursor: pointer;
		background-color: rgba(30, 5, 255, 0.2);
		transition: background-color 0.5s ease;
	}
}
.newMesages {
	background-color: rgba(255, 255, 0, 0.364);
}

.dialogActive {
	background-color: rgba(40, 46, 210, 0.5);
}

.dialogsList::-webkit-scrollbar {
	width: 0.5em;
}

.dialogsList::-webkit-scrollbar-track {
	background-color: transparent;
}

.dialogsList::-webkit-scrollbar-thumb {
	background-color: rgba(255, 255, 255, 0.4);
	border-radius: 0.25em;
}

.dialogsList::-webkit-scrollbar-thumb:hover {
	background-color: rgba(255, 255, 255, 0.7);
}

.dialogsIsEmpty {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: calc(100% - 3em);
}