.wrapper {
	width: 800px;
	height: 500px;
	display: grid;
	grid-template-columns: 200px auto;
	gap: 25px;
}
.dialogs {
	height: 500px;
	background-color: #1f2225;
	border-radius: 5px;
	box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.5);
}
.dialogsList {
	max-height:calc(100% - 52px);
	overflow-y: auto;
	overflow-x: hidden;
	
}
.dialog {
	display: flex;
	align-items: center;
	padding: 10px;
	height: 50px;
	border-radius: 10px;
	.userName {
		margin-left: 10px;
		font-size: 20px;
	}
}
.dialog:hover {
	cursor: pointer;
	background-color: rgba(30, 5, 255, 0.2);
	transition: background-color 0.5s ease;
}
.title {
	display: flex;
	align-items: center;
	height: 30px;
	border-bottom: 1px solid #C8C8C8;
	padding: 10px;
}
.dialogActive {
	background-color: rgba(40, 46, 210, 0.5);
}

.dialogsList::-webkit-scrollbar {
	width: 8px;
}

.dialogsList::-webkit-scrollbar-track {
	background-color: transparent;
}

.dialogsList::-webkit-scrollbar-thumb {
	background-color: rgba(255, 255, 255, 0.4);
	border-radius: 4px;
}

.dialogsList::-webkit-scrollbar-thumb:hover {
	background-color: rgba(255, 255, 255, 0.7);
}