.userWrapper {
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.user {
	display: flex;
	height: 3.75em;
}
.blockNameStatus {
	margin-left: 1.25em;
	display: flex;
	flex-direction: column;
}

.status {
	font-size: 0.8em;
	color: grey;
	margin-top: 0.6em;
}
.notFoundBlock {
	display: flex;
	flex-direction: column;
	margin-top: 3em;
	align-items: center;
	span {
		font-size: 1.5em;
		margin-bottom: 1.25em;
	}
}