.wrapper {
	position: relative;
	background-color: rgba(255, 255, 255, 0.8);
	backdrop-filter: blur(0.675em);
	max-width: 35em;
	border-radius: 5px;
}
.closeButton {
	position: absolute;
	top: -1.5em;
	right: -1.5em;
}
