.nav {
	display: flex;
	flex-direction: column;
	justify-content: start;
}
.link {
	text-decoration: none;
	border-radius: 0.25em;
	cursor: pointer;
	font-size: 1.25em;
	color: black;
	transition: background-color 0.5s;
	border-radius: 0;
	padding: 5px;
	&:hover {
			background-color: rgb(37, 45, 154);
		}
}
.activeLink {
	background-color: rgb(57, 70, 253);
	&:hover {
		background-color: rgb(57, 70, 253);
		cursor: default;
	}
}
.link div {
	margin-bottom: 1em;
}
.link div :last-child{
	margin-bottom: 0;
}
.logo {
	width: 2.5em;
	height: 2.5em;
	margin-right: 0.25em;
}


/* burger menu */
.burgerLink{
	border-bottom: 1px solid #C8C8C8;
	.link {
		box-sizing: border-box;
		justify-content: start;
		display: flex;
		align-items: center;
	}
	svg {
		width: 2.8em;
		height: 2.8em;
	}
}
.menuLinkText {
	color: #C8C8C8;
	font-size: 1.3em;
}

@media screen and (max-width: 760px) {
	.nav {
		width: 100%;
	}
}