.nav {
	width: 80px;
}
.link {
	text-decoration: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 20px;
	color: black;
	margin-bottom: 50px;
	
}
.link div {
	margin-bottom: 15px;
}
.link div :last-child{
	margin-bottom: 0;
}
.linkActive {
	color: rgb(48, 51, 147);
}
.logo {
	width: 40px;
	height: 40px;
	margin-right: 5px;
}
.displayFlex {
	display: flex;
}