.block {
	padding: 1.25em;
	border-radius: 1em;
	box-sizing: border-box;
	margin-bottom: 1.25em;
	background-color: #343a40;
	width: 100%;
}
.blockWithImage {
	background-image: url("https://pibig.info/uploads/posts/2022-08/thumbs/1659392988_1-pibig-info-p-krutoi-fon-dlya-prevyu-krasivo-1.jpg");
}