
.tab {
	background-color: transparent;
	border: none;
	padding: 0.375em 1.5em;
	width: 12.5em;
	cursor: pointer;
	transition: box-shadow 0.5s;
	color: white;
	&:hover {
		background-color: rgba(0, 0, 255, 0.5);
	}
}
.active {
	background-color: rgb(57, 70, 253);
	cursor: default;
	&:hover {
			background-color: rgb(57, 70, 253)
		}
}
@media screen and (max-width: 760px) {
	// .tab {
	// 	padding: 4px;
	// }
}