.chatWrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
}
.chatTitle {
	margin: 10px 0 20px 0;
	border-bottom: 1px solid rgb(183, 182, 182);
	padding-bottom: 10px;

}

.link {
	text-decoration: none;
	margin-bottom: 20px;
	color: black;
}

.link:last-child {
	margin-bottom: 0;
}

.link:hover {
	color: blue;
}