
.usersWrapper{
	position: relative;
	width: 100%;
	max-width: 800px;
	margin: 1em auto;
}
.filter {
	display: flex;
	align-items: end;
	justify-content: space-between;
	width: 100%;
	span {
		font-size: 1.25em;
	}
	.input {
		margin: 0;
		padding-top: 0;
		background-color: transparent;
		color: #C8C8C8;
		border: none;
		border-bottom: 2px solid rgb(75, 75, 93);
		outline: none;
	}
}


.pagination {
	display: flex;
	justify-content: center;
	ul{
		li {
			button {
				color: #C8C8C8;
			}
			div {
				color: #C8C8C8;
			}
		}
	}
}

@media screen and (max-width: 550px) {
	.nav {
		width: 100%;
	}
}