
.usersWrapper{
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	width: 600px;
}
.titleAndFilter {
	position: absolute;
	top: -42px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	span {
		font-size: 20px;
	}
	.input {
		margin: 0;
		padding-top: 0;
		background-color: transparent;
		color: #C8C8C8;
		border: none;
		border-bottom: 2px solid rgb(84, 84, 255);
		outline: none;
	}
}

.pagination {
	ul{
		
		li {
			button {
				color: #C8C8C8;
			}
			div {
				color: #C8C8C8;
			}
		}
	}
}