
.usersWrapper{
	position: relative;
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
}
.filter {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	span {
		font-size: 1.25em;
	}
	.input {
		margin: 0;
		padding-top: 0;
		background-color: transparent;
		color: #C8C8C8;
		border: none;
		border-bottom: 2px solid rgb(84, 84, 255);
		outline: none;
	}
}

.pagination {
	ul{
		li {
			button {
				color: #C8C8C8;
			}
			div {
				color: #C8C8C8;
			}
		}
	}
}