
.usersList{
	display: flex;
	flex-direction: column;
	width: 700px;
	position: relative;
}
.buttonGroup {
	position: absolute;
	top: -42px;
}
.userWrapper{
	display: flex;
	justify-content: space-between;
}
.user {
	display: flex;
	height: 60px;
}
.blockNameStatus {
	margin-left: 20px;
	display: flex;
	flex-direction: column;
}
.status {
	font-size: 0.8em;
	color: grey;
	margin-top: 10px;
}